{{!-- 
Це код container файлу для bootstrap сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/bootstrap"
--}}

<main>

<h1 class="text-end text-uppercase">Hello world</h1>
<h2 class="text-center text-lowercase">Second</h2>
<h3 class="text-left text-capitalize">3 title</h3>

<hr>

<div class="display-1 text-center">Hello world</div>
<div class="display-2">Second</div>
<div class="display-3">3 title</div>
<div class="display-6">6 title</div>

<hr>

<div class="text-muted text-center">
  Text <span class="display-6"> muted</span>
</div>

<hr>

<button class="btn btn-primary">
  <span class="text-uppercase">primary</span>
</button>

<button class="btn btn-secondary">
  <span class="text-uppercase">secondary</span>
</button>

<button class="btn btn-success">
  <span class="text-uppercase">success</span>
</button>

<button class="btn btn-danger">
  <span class="text-uppercase">danger</span>
</button>

<button class="btn btn-warning">
  <span class="text-uppercase">warning</span>
</button>

<button class="btn btn-info">
  <span class="text-uppercase">info</span>
</button>

<button class="btn btn-light">
  <span class="text-uppercase">light</span>
</button>

<button class="btn btn-dark">
  <span class="text-uppercase">dark</span>
</button>

<button class="btn btn-link">
  <span class="text-uppercase">link</span>
</button>

<hr>

<hr>

<button class="btn btn-outline-primary">
  <span class="text-uppercase">primary</span>
</button>

<button class="btn btn-outline-secondary">
  <span class="text-uppercase">secondary</span>
</button>

<button class="btn btn-outline-success btn-lg">
  <span class="text-uppercase">success</span>
</button>

<button class="btn btn-outline-danger btn-sm">
  <span class="text-uppercase">danger</span>
</button>

<button class="btn btn-outline-warning">
  <span class="text-uppercase">warning</span>
</button>

<button class="btn btn-outline-info">
  <span class="text-uppercase">info</span>
</button>

<button class="btn btn-outline-light">
  <span class="text-uppercase">light</span>
</button>

<button class="btn btn-outline-dark">
  <span class="text-uppercase">dark</span>
</button>

<button class="btn btn-outline-link">
  <span class="text-uppercase">link</span>
</button>

<hr>

  <div class='card'>
    <div class='card-body'> 

      <p class="text-primary">
        my text
      </p>

      <p class="text-secondary">
        my text
      </p>

      <p class="text-success">
        my text
      </p>

      <p class="text-danger">
        my text
      </p>

      <p class="text-warning">
        my text
      </p>

      <p class="text-info">
        my text
      </p>

      <p class="text-dark">
        my text
      </p>

  </div>
</div>


</main>


