{{!-- 
Це код container файлу для task22 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/task22"
--}}

<main>
  <h1 class="text-center">H1 Heading</h1>
  <p class="text-center text-uppercase">Paragraph</p>
  <div class='card'>
    <div class='card-body'> 
      <div>
        <div class="display-6 text-end"> <b>Display 6</b></div>
        <br>
        <h2 class="text-end">H2 Heading</h2>
        <button class="btn btn-outline-info">Info</button>
      </div>
      <br>
    </div>
  </div>

<br>
<br>

  <div class='card'>
    <div class='card-body'> 
      <div class="display-5"> <b>Display 5 Advantage </b></div>
        <br>
        <div class='card'> 
          <div class='card-body'>
          <div class="display-4"> <b>Display 4 efficiency </b></div>
            <div class='card-body'>
              <h6>H6 Heading</h6>
              <p>Paragraph</p>
              <div>
                <button class="btn btn-outline-warning">Warning</button>
                <br>
              </div>
            </div>
          </div>
        </div>

      <br>
      
          <div class='card'> 
            <br>
            <div class="display-4 text-center"> <b>Display 4 innovation </b></div>
              <div class='card-body'>
                <h6 class="text-center">H6 Heading</h6>
                <p class="text-center">Paragraph</p>
                <div>
                  <button class="btn btn-outline-warning">Warning</button>
                  <br>
                </div>
              </div>
          </div>
      
      <br>

          <div class='card'> 
            <br>
            <div class="display-4 text-end"> <b>Display 4 innovation </b></div>
              <div class='card-body'>
                <h6 class="text-end">H6 Heading</h6>
                <p class="text-end">Paragraph</p>
                <div>
                  <button class="btn btn-outline-warning">Warning</button>
                  <br>
                </div>
              </div>
          </div>
    </div>
  </div>

<br>
<br>

  <div class='card'>
    <div class='card-body'> 
      <div class="display-5"> <b>Display 5 agreement </b></div>
        <br>
        <div class='card'>
          <div class='card-body'>  
          <br>
              <h5>H5 Heading</h5>
              <div class='card'>
                <div class='card-body'>   
                  <br>
                  <p>Paragraph</p>
                  <button class="btn btn-success">Success</button>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>

    </div>
  </div>

</main>


