{{!-- 
Це код container файлу для task21 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/task21"
--}}

<main>
  <div class='card'>
    <div class='card-body'> 
      <h1>H1 Heading</h1>
      <p>Paragraph</p>
      <div>
        <button class="btn btn-primary">Primary</button>
      </div>
      <br>
      <div>
        <button class="btn btn-outline-primary">Outline Primary</button>
      </div>
    </div>
  </div>

<br>

  <div class='card'>
    <div class='card-body'> 
      <h2>H2 Heading second</h2>
      <p>Paragraph</p>
      <div>
        <button class="btn btn-secondary">Secondary</button>
      </div>
      <br>
      <div>
        <button class="btn btn-outline-secondary">Outline Secondary</button>
      </div>
    </div>
  </div>

<br>

  <div class='card'>
    <div class='card-body'> 
      <h3>H3 Heading subblock</h3>
      <p>Paragraph</p>
      <div>
        <button class="btn btn-dark">Dark</button>
      </div>
      <br>
      <div>
        <button class="btn btn-outline-dark">Outline Dark</button>
      </div>
    </div>
  </div>

<br>
<br>
<br>

  <div class='card'>
    <div class='card-body'> 
      <div class="display-1"> <b>Display 1 nested </b></div>
        <div class='card'> 
          <div class="display-4"> <b>Display 4 children </b></div>
            <div class='card-body'>
              <p>Paragraph</p>
              <div>
                <button class="btn btn-outline-warning">Warning</button>
                <br>
              </div>
            </div>
        </div>

      <br>
      <div>
        <h6>H6 Heading</h6>
        <button class="btn btn-info text-light">Info</button>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class='card'>
    <div class='card-body'> 
      <p class="text-uppercase">Paragraph</p>
      <p class="text-lowercase">Paragraph</p>

      <button class="btn btn-link">
        <span>Link</span>
      </button>
    </div>


    <div class='card'> 
        <ul>
          <li>
            <button class="btn btn-link">
              <span>Link</span>
            </button>
          </li>
          <li>
            <button class="btn btn-link">
              <span>Link</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>


    </div>
  </div>
</main>


