<div>
    {{#if big}}
        <h2> {{data}} </h2> {{!-- для тих випадків, коли data це об"єкт --}}
    {{else}}
        <h3> {{data}} </h3> {{!-- для тих випадків, коли data це об"єкт --}}
    {{/if}}
</div>