<div>
    {{#if big}}
        <h2 class="mb-5"> {{data}} </h2> {{!-- для тих випадків, коли data це об"єкт --}}
    {{else}}
        <h3 class="mb-3"> {{data}} </h3> {{!-- для тих випадків, коли data це об"єкт --}}
    {{/if}}
</div>